/* Progress Indicator */
.scroll-progress-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: transparent;
    z-index: 2000;
}

.scroll-progress-bar {
    height: 100%;
    width: 0;
    background-color: var(--primary-color);
    transition: width 0.2s ease;
}