<section id="contact">
    <div class="container">
        <h2 class="contact-section-title animate-on-scroll">Get in Touch</h2>
        <div class="contact-content animate-on-scroll">
            <p class="contact-text">
                Interested in working together or have a project in mind? Feel
                free to reach out!
            </p>
            <div class="contact-links stagger-animation">
                <a
                    href="https://api.whatsapp.com/send?phone=60172005477"
                    target="_blank"
                >
                    <i class="fa-brands fa-whatsapp"></i>
                    <span>Whatsapp</span>
                </a>
                <a href="mailto:chintimothy45@gmail.com">
                    <i class="fas fa-envelope"></i>
                    <span>Email</span>
                </a>
                <a href="https://github.com/zzSleepyCoderzz" target="_blank">
                    <i class="fab fa-github"></i>
                    <span>GitHub</span>
                </a>
                <a href="https://linkedin.com/in/tim-chnn" target="_blank">
                    <i class="fab fa-linkedin"></i>
                    <span>LinkedIn</span>
                </a>
                <a
                    href="../../public/Resume_Timothy-Chin.pdf"
                    download="Resume_Timothy-Chin.pdf"
                    target="_blank"
                >
                    <i class="fas fa-file-pdf"></i>
                    <span>Resume</span>
                </a>
            </div>
        </div>
    </div>
</section>
