---
import { Image } from "astro:assets";
import logo from "@/assets/img/TC.png";
import "@/styles/header.css";
---

<header>
    <nav>
        <a href="#home" class="logo">
            <Image src={logo} alt="Logo" width="50" height="50" />
        </a>
        <div class="nav-links" id="navLinks">
            <a href="#home" class="active">Home</a>
            <a href="#work">Work</a>
            <a href="#contact">Contact</a>
        </div>
        <button class="mobile-menu-btn" id="mobileMenuBtn">
            <i class="fas fa-bars"></i>
        </button>
    </nav>
</header>

<script>
    import "@/scripts/Header.js";
</script>
