---
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import ScrollProgressBar from "@/components/ScrollProgressBar.astro";
import TextLoader from "@/components/TextLoader.astro";
import "@/styles/global.css";
import "@/styles/scrollProgressIndicator.css";
import "@/styles/animation.css";

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{title}</title>
        <link
            rel="icon"
            href="/Personal-Website/favicon.png"
            type="image/x-icon"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        />
        <link
            href="https://api.fontshare.com/v2/css?f[]=hind@500&f[]=khand@700,1&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://api.fontshare.com/v2/css?f[]=cabinet-grotesk@400,500&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <TextLoader />
        <div class="content-container" id="js-content-container">
            <Header />
            <ScrollProgressBar />

            <slot />

            <Footer />
        </div>

        <script>
            import "@/scripts/MainLayout.js";
        </script>
    </body>
</html>
